.flex-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.flex-item {
    text-align: left;
    width: calc(32% - 10px); /* 4 columnas (100% / 4) */
    box-sizing: border-box;
}

h4 {
    color: black;
}

.dv {
    max-width: 3rem;
}

.mw-max {
    max-width: 100%;
}

.double {
    width: calc((32% - 10px) * 2 + 10px);
}

.triple {
    width: calc((32% - 10px) * 3 + 20px);
}

.btn-guardar {
    margin-left: 0px;
    padding-top: 7px;
    width: max-content;
}

.div-btn {
    max-width: 12em;
}

.mb-0 {
    margin-bottom: 0px;
}