.centro_razon {
  color: var(--color-azul-700);
  font-size: var(--text-lg);
  margin: 1rem 0 0.25rem 0;
  font-weight: 600;
}
.centro_direccion {
  color: black;
  font-size: var(--text-root);
  font-weight: 400;
  margin-top: 0.25rem;
}
.dos-columnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.responsive-map-container {
  position: relative;
  padding-bottom: 66.66%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
